doctype html
html(lang="es")
  head
    title Editar elemento de newsletter
    meta(charset="utf-8")
    link(href="/style.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
  body
    h1 Editar elemento en el newsletter
    form(class="newElement" method="post" action="/#{element.id}?_method=put")
      label Título de la noticia (opcional)
      input(type="text" name="titulo" placeholder="Título" value="#{element.titulo}")
      label Color del título (opcional)
      select(name="color")
        option(selected)= element.color
        option Blanco
        option Negro
        option Verde
      label Sumario
      textarea(name="sumario" placeholder="Sumario" required)
        =element.sumario
      label Posición del texto
      select(name="posicion")
        option(selected)= element.posicion
        option Abajo
        option Centro
        option Arriba
      label Color de fondo del texto
      select(name="colorFondo")
        option(selected)= element.colorFondo
        option Negro
        option Blanco
        option Transparente
      label URL de la imagen
      input(type="url" name="imagen" placeholder="Imagen" value="#{element.imagen}" required)
      label URL de la noticias
      input(type="url" name="url" placeholder="URL" value="#{element.url}" required)
      input(class="submit" type="submit" value="Actualizar")
