extends ./header.jade

block elementos
  table(width='520', border='0', align='center', cellpadding='0')
    tr
      td(width='520', align='center')
        img(src='http://www.noticiasrcn.com/news/static/newsletteropening.jpg', alt='Noticias RCN', width='520', height='108', target='_blank')
    each element in elements
      -var descsize = "22px"
      if element.color == "Blanco"
        - var color = "#ffffff"
      else if element.color == "Negro"
        - var color = "#000000"
      else
        - var color = "#2ab35d"
      if element.colorFondo == "Blanco"
        - var colorFondo = "rgba(255,255,255,0.7)"
        - var textColor = "#000000"
      else if element.colorFondo == "Negro"
        - var colorFondo = "rgba(0,0,0,0.7)"
        - var textColor = "#ffffff"
      else
        - var colorFondo = "transparent"
        - var textColor = "#ffffff"
      tr
        if element.posicion == "Abajo"
          td(class="containerabajo" background="#{element.imagen}" width="515" height="280" style="background-position: center top;")
            a(href="#{element.url}")
              //
                [if gte mso 9]>
                <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:520px;height:280px;">
                  <v:fill type="tile" src="#{element.imagen}" color="#ff0000" />
                  <v:textbox inset="0,0,0,0">
                <![endif]
              table(cellpadding="0" cellspacing="0")
                tr
                  td(class="spacer" height="175") &nbsp;
                tr
                  td(class="inner-container" width="520" height="100" align="left" valign="top" style="background-color: #{colorFondo}; background: #{colorFondo};")
                    table(cellpadding="0" cellspacing="0" align="center")
                      if element.titulo
                        -var titlesize = "22px"
                        -var descsize = "15px"
                        tr
                          td(align="left" style="padding: 5px 16px 0px 16px; font-family: tahoma,sans-serif; font-size: #{titlesize}; line-height: 22px; font-weight: bold; text-align: center; color: #{color};") #{element.titulo}.
                      tr
                        td(align="left" style="padding: 10px 16px 10px 16px; font-family: tahoma,sans-serif; font-size: #{descsize}; line-height: 22px; font-weight: bold; text-align: center; color: #{textColor};") #{element.sumario}
                //
                  [if gte mso 9]>
                  </v:textbox>
                  </v:rect>
                  <![endif]
        else if element.posicion == "Arriba"
          td(class="containerarriba" background="#{element.imagen}" width="515" height="280" style="background-position: center top;")
            a(href="#{element.url}")
              //
                [if gte mso 9]>
                <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:520px;height:280px;">
                  <v:fill type="tile" src="#{element.imagen}" color="#ff0000" />
                  <v:textbox inset="0,0,0,0">
                <![endif]
              table(cellpadding="0" cellspacing="0")
                tr
                  td(class="inner-container" width="520" height="100" align="left" valign="top" style="background-color: #{colorFondo}; background: #{colorFondo};")
                    table(cellpadding="0" cellspacing="0" align="center")
                      if element.titulo
                        -var titlesize = "22px"
                        -var descsize = "15px"
                        tr
                          td(align="left" style="padding: 5px 16px 0px 16px; font-family: tahoma,sans-serif; font-size: #{titlesize}; line-height: 22px; font-weight: bold; text-align: center; color: #{color};") #{element.titulo}.
                      tr
                        td(align="left" style="padding: 10px 16px 10px 16px; font-family: tahoma,sans-serif; font-size: #{descsize}; line-height: 22px; font-weight: bold; text-align: center; color: #{textColor};") #{element.sumario}
                tr
                  td(class="spacer" height="175") &nbsp;
                //
                  [if gte mso 9]>
                  </v:textbox>
                  </v:rect>
                  <![endif]
        else
          td(class="container" background="#{element.imagen}" width="515" height="280" style="background-position: center top;")
            a(href="#{element.url}")
              //
                [if gte mso 9]>
                <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:520px;height:280px;">
                  <v:fill type="tile" src="#{element.imagen}" color="#ff0000" />
                  <v:textbox inset="0,0,0,0">
                <![endif]
              table(cellpadding="0" cellspacing="0")
                tr
                  td(class="inner-container" width="520" height="100" align="left" valign="top" style="background-color: #{colorFondo}; background: #{colorFondo};")
                    table(cellpadding="0" cellspacing="0" align="center")
                      if element.titulo
                        -var titlesize = "22px"
                        -var descsize = "15px"
                        tr
                          td(align="left" style="padding: 5px 16px 0px 16px; font-family: tahoma,sans-serif; font-size: #{titlesize}; line-height: 22px; font-weight: bold; text-align: center; color: #{color};") #{element.titulo}.
                      tr
                        td(align="left" style="padding: 10px 16px 10px 16px; font-family: tahoma,sans-serif; font-size: #{descsize}; line-height: 22px; font-weight: bold; text-align: center; color: #{textColor};") #{element.sumario}
                //
                  [if gte mso 9]>
                  </v:textbox>
                  </v:rect>
                  <![endif]
    block index
